{% extends 'index/index2.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/car_profile.css'%}?v=2">
    <title>Perfil de tu automovil</title>
</head>

<body>

    <div class="d-flex vh-100">
        <h1>Factura Generada</h1>
    <p>Detalles:</p>
    <ul>
        {% for servicio in factura.servicios.all %}
            <p>{{ servicio.name }} - Precio: ${{ servicio.price }}</p>
        {% endfor %}
    </ul>
    <p>Referencia de la compra: {{ factura.referencia }}</p>
    <p>Modo de pago: {{ factura.modo_pago }}</p>
    <p>Total: ${{ factura.total_factura }}</p>
    </div>

</body <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous">

</html>
{% endblock %}