{% extends 'index/index.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.2/css/bootstrap.min.css">   
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/login3.css' %}">
    <title>Iniciar Sesion en CarDiag</title>
</head>
<body>
    <div class="py-5 d-flex justify-content-center">
        <fieldset id="cuadro" class="d-flex flex-column">
            <div class="columna1">
                <h1 class="display-3" id="slogan">Diagnostico confiable para un viaje sin preocupacion</h1>
                <i class="fas fa-wrench"></i></i><p>+ 108 Talleres aliados</p>
            </div>
            <div class="columna2 py-5 d-flex justify-content-end align-items-center">
                <form method="post">
                    
                    {% csrf_token %}
        
                    {{ form.as_p }}
        
                    <button id="boton" type="submit">Enviar</button>
                            
                </form>
            </div>
            <div class="d-flex justify-content-center">
                <p id="signup">¿No tienes una cuenta?<a id="crear_cuenta" href="{% url 'main' %}"> Crear Cuenta</a></p>
            </div>
        </fieldset>
    </div>
    
    

</body <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous">
</html>
{% endblock %}