
fieldset{
   margin-top: 100px;
    width: 900px;
    height: 680px;
    border-width: 3px;
    border-style: solid;
    border-image: linear-gradient(135deg,#75c7ff, #759eff, #ffbf75) 3;
    background-color:   rgb(245, 241, 241);
 }


input{
    height: 30px;
    width: 600px;
    margin-top: 5px;
    border: 2px solid black;
    border-radius: 1em;
    border-color: #7bbbce;
 }

#formu{
    font-size: small;
    margin-left: 600px;
    margin-top: 30px;
    width: 150px;
    height: 40px;
    border-radius: 1em;
    background-color: white;
    border: 2px solid;
    border-color: #7bbbce;
}

button:hover {
    transition: 0.2s;
    background-color: #a6c9d1;
    color: #426573;
    border-color: #426573;
}

label{
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    color: #426573;
}

h1{
    margin-left: 320px;
    color: #a6c9d1;
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
}

#eliminar{
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    bottom: 180px;
    right: 150px;
    padding: 5px;
    font-size: small;
    border-radius: 1em;
    background-color: rgb(193, 39, 39);
    border: 5px solid;
    border-color: rgb(193, 39, 39);

}

#eliminar:hover{
    transition: 0.2s;
    background-color:rgb(193, 39, 39);
    color: #2c2c2d;
    border-color: rgb(193, 39, 39);
}

#nombre{
   padding: 25px;
}

.modal{
    width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.modal{
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.5);
	transition: all 500ms ease;
	opacity: 0;
	visibility: hidden;
}
#btn-modal:checked ~ .modal{
	opacity: 1;
	visibility: visible;
} 
.contenedor{
	width: 400px;
	height: 300px;
	margin: auto;
	background: #fff;
	box-shadow: 1px 7px 25px rgba(0,0,0,0.6);
	transition: all 500ms ease;
	position: relative;
	transform: translateY(-30%);
}
#btn-modal:checked ~ .modal .contenedor{
	transform: translateY(0%);
} 
.contenedor header{
	padding: 10px;
	background: #db8046;
	color: #fff;
}
.contenedor label{
	position: absolute;
	top: 10px;
	right: 10px;
	color: #fff;
	font-size: 15px;
	cursor: pointer;
}
.contenido{
	width: 100%;
	padding: 10px; 
}
.contenido h3{
	margin-bottom: 10px;
}
.contenido p{
	margin-bottom: 7px;
}
#btn-modal{
	display: none;
}
.lbl-modal{
	background: #fff;
	padding: 10px 15px;
	border-radius: 4px;
	cursor: pointer;
}
@media only screen and (min-width:320px) and (max-width:768px){
	.contenedor{
		flex-direction: column;
	}
}

h2{
    font-size: x-large;
    color: #426573;
    font-family: Arial, Helvetica, sans-serif;
}

h6{
    font-size: x-large;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

#yes{
    position: center;
    bottom: 200px;
    font-size: large;
    border-radius: 1em;
    background-color: rgb(213, 131, 131);
    border: 5px solid;
    border-color: rgb(199, 119, 119);
    margin-top: 20px;

}

#yes:hover{
    transition: 0.2s;
    background-color: rgb(213, 131, 131);
    color: #7b7b84;
    border-color: rgb(199, 119, 119);
}

#salir{
    padding: 5px;
    position: absolute;
    top: 240px;
    left: 220px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    text-decoration: none;
    color: black;
    border-radius: 1em;
    background-color: rgb(218, 208, 208);
}