body{
   font-family: Arial, Helvetica, sans-serif;
}

#cuadro {
   padding: 20px;
   width: 80%;
   height: 600px;
   border-radius: 2em;
   display: flex;
   background: linear-gradient(135deg, #75c7ff, #759eff, #ffbf75);
   justify-content: space-between;
}

.columna1, .columna2 {
   flex: 1;
}

#slogan{
   padding-left: 50px;
   color: #1d1b1b;
   font-family: Arial, Helvetica, sans-serif;
   
}

h1{
   font-family: Arial, Helvetica, sans-serif;
}

p, i{
   color: #FFFFFF;
   font-family: Arial, Helvetica, sans-serif;
   padding-left: 50px;
}

form{
   border-radius: 1em;
   background:linear-gradient(to bottom right, #759eff, #ffbf75, #ffa43a);
   padding: 20px;
   float: right;
   width: 600px;
   height: 100%;
   position: relative; right: 100px; bottom: 50px;
   margin-top: 10px;
   border: solid #f9f9f9 1px;
  
}



label{
   color: #426472;
   font-size: large;
}

input{
   border: 2px solid #426472;
   width: 90%;
}

button{
   padding: 5px;
   border: none;
   position: relative; left: 100px;
   background-color: #426472;
   color: white;
   transition: 0.3s;
   border-radius: 1em;
}

button:hover{
   background-color: #264350;
}


#signup{
   color: rgb(0, 0, 0);
}

#crear_cuenta{
   color: #fafafa;
}