#fi1{
    margin-top: 80px;
    float: left;
    width: 800px;
    border-style: none;
}
h1 {
    color: #426573;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

h2{
    color: #426573 ;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.taller {
    display: flex;
    flex-wrap: wrap;
}

.talleres {
    flex: 0 1 calc(33.33% - 20px);
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
    background-color: white;
    text-align: center;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    margin-left: 100px;

}

ul li{
    color: #426573;
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
}

.talleres img{
    margin-left: 0 auto ;
}

.texto{
    width: 100%;
    background-color: whitesmoke;
    margin-right: 100px;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    border-radius: 1em;
    position: relative; top: 10px;
    margin: 25px;
    text-align: left;
    font-size: 20px;
}

img{
    float: left;
    margin-left: 10px;
}

#masinfo{
    background-color: white;
    border-radius: 1em;
    border-color: #426573;
    border-style: solid;
    float: right;
    margin-right: 100px;
    width: 200px;
    border-width: 3px;
    margin-top: 50px;
}

#masinfo a{
    text-decoration: none;
    color: #426573;
}

#agendar{
    background-color: #a6c9d1;
    border-radius: 1em;
    border-color: #a6c9d1;
    border-style: solid;
    float: right;
    margin-right: 20px;
    width: 200px;
    margin-top: 50px;
}

#agendar a{
    text-decoration: none;
    color: white;
}

#logo{
    padding-left: 50px;
}

.messages{
    background-color: #a6c9d1;
    width: 200px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 1em;
    border-style: none;
    color: black;
}

#cotizar{
    width: 800px;
    padding: 80px;
    float: right;
}


 
